@{
    ViewData["Title"] = "Home Page";
}

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Welkom bij Rent-a-Car</h2>
<p>Uw partner voor exclusieve huurauto's</p>
<div class="row">
    <div class="col-md-5">
        <img src="~/Images/rentacar.jpg" id="home_image" /><br />
        <h2>Pick-up adres</h2>
        Amstelveenlaan 33<br />
        1234 ZM  Amsterdam
    </div>
    <div class="col-md-7">
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <img src="~/Images/rambler.jpg" alt="Rambler" title="Rambler" />
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <img src="~/Images/Toyota-Yaris.jpg" alt="Toyota Yaris" title="Ford Ka">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <img src="~/Images/mercedes-benz-coupe.jpg" alt="Mercedes Coupe" title="Mercedes Coupe" />
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <img src="~/Images/Maserati.jpg" alt="Maserati" title="Maserati" />
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <img src="~/Images/lotus.jpg" alt="Lotus" title="Lotus" />
                </div>
            </div>
        </div>
    </div>
</div>
